#!/bin/sh
# Copyright 2019 The Wazo Authors  (see the AUTHORS file)
# SPDX-License-Identifier: GPL-3.0-or-later

case "$1" in
    build)
        python3 setup.py bdist -d dist/python3
    ;;

    package)
        tar xvf dist/python3/wazo_microsoft-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
    ;;

    install)
        systemctl restart wazo-auth
    ;;

    uninstall)
        rm -r /etc/wazo-auth/conf.d/microsoft.yml
        systemctl restart wazo-auth || true
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
